{
    "openapi": "3.0.3",
    "info": {
      "title": "Market Data API",
      "version": "1.0.0",
      "description": "Documentation of the Market Data API.",
      "contact": {
        "name": "API Support",
        "email": "support@example.com"
      },
      "license": {
        "name": "MIT",
        "url": "http://opensource.org/licenses/MIT"
      }
    },
    "servers": [
      {
        "url": "https://api.go.useallmind.ai/"
      }
    ],
    "paths": {
      "/api-keys": {
        "get": {
          "summary": "List all API keys for a user",
          "description": "Retrieves all API keys associated with the specified user ID.",
          "tags": ["apiKeys"],
          "operationId": "listApiKeys",
          "parameters": [
            {
              "name": "user_id",
              "in": "query",
              "required": true,
              "schema": { "type": "string" },
              "description": "The user ID to list API keys for"
            }
          ],
          "responses": {
            "200": { "$ref": "#/components/responses/APIKeyList" },
            "400": { "$ref": "#/components/responses/ErrorResponse" },
            "500": { "$ref": "#/components/responses/ErrorResponse" }
          }
        },
        "post": {
          "summary": "Create a new API key",
          "description": "Creates a new API key with the specified name and permissions.",
          "tags": ["apiKeys"],
          "operationId": "createApiKey",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateApiKeyRequest" }
              }
            }
          },
          "responses": {
            "200": { "$ref": "#/components/responses/CreateApiKey" },
            "400": { "$ref": "#/components/responses/ErrorResponse" },
            "500": { "$ref": "#/components/responses/ErrorResponse" }
          }
        }
      },
      "/api-keys/{key}": {
        "delete": {
          "summary": "Delete an API key",
          "description": "Deletes the specified API key.",
          "tags": ["apiKeys"],
          "operationId": "deleteApiKeyById",
          "parameters": [
            {
              "name": "key",
              "in": "path",
              "required": true,
              "schema": { "type": "string" },
              "description": "The API key to delete"
            }
          ],
          "responses": {
            "204": { "$ref": "#/components/responses/NoContent" },
            "400": { "$ref": "#/components/responses/ErrorResponse" },
            "404": { "$ref": "#/components/responses/ErrorResponse" },
            "500": { "$ref": "#/components/responses/ErrorResponse" }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "CreateApiKeyRequest": {
          "type": "object",
          "required": ["name", "user_id"],
          "properties": {
            "name": { "type": "string" },
            "user_id": { "type": "string" },
            "permissions": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        },
        "ErrorResponse": {
          "type": "object",
          "properties": {
            "error": { "type": "string" }
          }
        }
      },
      "responses": {
        "APIKeyList": {
          "description": "List of API keys",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          }
        },
        "CreateApiKey": {
          "description": "Newly created API key",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string" }
                }
              }
            }
          }
        },
        "NoContent": {
          "description": "Successful deletion, no content"
        },
        "ErrorResponse": {
          "description": "API error response",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ErrorResponse" }
            }
          }
        }
      }
    }
  }
  