{
  "openapi": "3.1.0",
  "info": {
    "title": "Market Data API.",
    "description": "Documentation of the Market Data API.",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "version": "1.0.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.go.useallmind.ai/",
      "variables": {}
    }
  ],
  "paths": {
    "/api-keys": {
      "get": {
        "tags": [
          "bigtable"
        ],
        "summary": "listAPIKeys",
        "description": "Retrieves all API keys associated with the specified user ID.",
        "operationId": "listAPIKeys",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID to retrieve API keys for",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "bigtable"
        ],
        "summary": "createAPIKey",
        "description": "Creates a new API key with the specified name and permissions for the given user.",
        "operationId": "createAPIKey",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the API key",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The user ID to create the API key for",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissions",
            "in": "query",
            "description": "The permissions to grant to the API key",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CreateAPIKeyResponse represents the response structure when creating a new API key. It contains the generated API key value and the timestamp when it was created.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api-keys/{key}": {
      "delete": {
        "tags": [
          "bigtable"
        ],
        "summary": "deleteAPIKey",
        "description": "Deletes the specified API key.",
        "operationId": "deleteAPIKey",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key of the API key to delete",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/bigtable/chat/{rowKey}": {
      "get": {
        "tags": [
          "bigtable"
        ],
        "summary": "getChatHistory",
        "description": "Retrieves the chat history for the specified row key from BigTable.",
        "operationId": "getChatHistory",
        "parameters": [
          {
            "name": "rowKey",
            "in": "path",
            "description": "The row key to get chat history from",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistory"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "bigtable"
        ],
        "summary": "createChat",
        "description": "Creates a new chat conversation with the specified messages at the given row key.",
        "operationId": "createChat",
        "parameters": [
          {
            "name": "rowKey",
            "in": "path",
            "description": "The row key to create the chat at",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistory"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "bigtable"
        ],
        "summary": "deleteChatKey",
        "description": "Removes the specified row from the chat table in BigTable.",
        "operationId": "deleteChatKey",
        "parameters": [
          {
            "name": "rowKey",
            "in": "path",
            "description": "The row key to delete from the chat table",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/current-price/{symbol}": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getLastTradePrice",
        "description": "This will retrieve the most recent trade data for the specified stock symbol including\ncurrent price, bid/ask prices, trade size, and other market data from Redis.",
        "operationId": "getLastTradePrice",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentPrice"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/darkpool-trends": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getDarkpoolTrends",
        "description": "Retrieves the top K darkpool trends based on the provided count and start date.\nData is fetched from cache if available, otherwise from the primary service.",
        "operationId": "getDarkpoolTrends",
        "parameters": [
          {
            "name": "k",
            "in": "query",
            "description": "Number of darkpool trends to return.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date for fetching trends (YYYY-MM-DD).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DarkpoolTrend"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/darkpool/daily/{ticker}": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getDailyDarkpoolTrend",
        "description": "Retrieves daily darkpool trend metrics for the specified ticker within the given date range.\nIf no dates are provided, defaults to the last 30 days.",
        "operationId": "getDailyDarkpoolTrend",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The ticker symbol to fetch trends for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for fetching trends (YYYY-MM-DD).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for fetching trends (YYYY-MM-DD).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/futures-data": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getFuturesData",
        "description": "Retrieves futures data for a specified ticker symbol within a given date range.",
        "operationId": "getFuturesData",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "Ticker symbol for the futures data.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date for the data (YYYY-MM-DD).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date for the data (YYYY-MM-DD).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuturesRowData"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/historical-data/{ticker}": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getHistoricalData",
        "description": "This will retrieve historical price data for the specified stock symbol, aggregated by the given period,\nwithin the specified start and end dates.",
        "operationId": "getHistoricalData",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The stock symbol",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period for aggregation (e.g., \"1m\", \"1h\", \"day\")",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date for historical data (YYYY-MM-DD)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date for historical data (YYYY-MM-DD)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/trades/{symbol}": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getTradesData",
        "description": "This will retrieve recent trades data for the specified stock symbol from Redis\nusing the TICKER_TRADES sorted set key pattern. Each trade is decompressed if stored as gzip.\nReturns an array of trade objects with pricing, volume, and market data.",
        "operationId": "getTradesData",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "The stock symbol to get trades for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of trades to return (default: 100)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesDataResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/volume-footprint/{symbol}": {
      "get": {
        "tags": [
          "prices"
        ],
        "summary": "getVolumeFootprint",
        "description": "This endpoint provides detailed volume footprint analysis for all available trades including:\nPrice action analysis (OHLC, VWAP)\nVolume distribution by price level\nOrder flow imbalances between buy and sell orders\nVolume clusters indicating high activity zones\nAbsorption signals for potential exhaustion points\nPoint of Control (POC) - price level with highest volume\nValue Area High/Low for 70% of traded volume\nDelta percentage to gauge buying vs selling pressure\n\nThe analysis is based on all available trade data from Redis and calculates comprehensive\nmarket microstructure metrics useful for understanding market dynamics.",
        "operationId": "getVolumeFootprint",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Footprint"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/darkpools": {
      "get": {
        "tags": [
          "darkpool"
        ],
        "summary": "getDarkpoolTrades",
        "description": "Retrieves dark-pool trades in the requested date window with optional\nprice/size/value filters and consolidation.\nIf the query matches the pre-cached slice (last 10 days, default filters) the\nresult is served from Redis; otherwise it falls back to Bigtable.\nCurrent price is attached in parallel.",
        "operationId": "getDarkpoolTrades",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The stock ticker symbol",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of trades to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "default": 1000
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum trade size",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int64"
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "Maximum trade size",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int64"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Minimum trade price",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Maximum trade price",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "description": "Minimum trade value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_value",
            "in": "query",
            "description": "Maximum trade value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/darkpools/daily-summary": {
      "get": {
        "tags": [
          "darkpool"
        ],
        "summary": "getDarkpoolDailySummary",
        "description": "Retrieves a day-by-day breakdown of darkpool trades showing weighted average price,\ntotal daily trade value, and trade volume. Data is fetched directly from Bigtable\nas we need raw unconsolidated trades for accurate calculations.",
        "operationId": "getDarkpoolDailySummary",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The stock ticker symbol",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/dashboard/watchlist/{watchlist_id}": {
      "get": {
        "tags": [
          "watchlist"
        ],
        "summary": "getDashboardWatchlist",
        "description": "Retrieves the tickers or data associated with a specific dashboard watchlist ID.",
        "operationId": "getDashboardWatchlist",
        "parameters": [
          {
            "name": "watchlist_id",
            "in": "path",
            "description": "ID of the watchlist to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/dashboard/watchlist/{watchlist_id}/predictions": {
      "get": {
        "tags": [
          "watchlist"
        ],
        "summary": "getWatchlistPredictions",
        "description": "Retrieves the predictions for a specific dashboard watchlist ID.",
        "operationId": "getWatchlistPredictions",
        "parameters": [
          {
            "name": "watchlist_id",
            "in": "path",
            "description": "ID of the watchlist to retrieve predictions for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/watchlist": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "summary": "fetchWatchlistData",
        "description": "Retrieves data for a specified list of stock tickers within a given date range.\nThe request parameters are passed in the request body.",
        "operationId": "fetchWatchlistData",
        "parameters": [],
        "requestBody": {
          "description": "Request body containing tickers and date range.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/watchlistDataRequest"
                  },
                  {
                    "description": "Request body containing tickers and date range."
                  }
                ],
                "contentMediaType": "application/json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "data": {
                "description": "The data for the requested watchlist tickers.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The data for the requested watchlist tickers.",
                      "contentMediaType": "text/plain"
                    }
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistData"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/earnings": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "getEarningsNextWeek",
        "description": "Retrieves earnings data for the upcoming week from the cache.",
        "operationId": "getEarningsNextWeek",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarningsData"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/g7-events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "getG7EventsNextWeek",
        "description": "Retrieves G7 events data for the upcoming week from the cache.",
        "operationId": "getG7EventsNextWeek",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/G7EventsData"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/ipos": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "getIPOsNextWeek",
        "description": "Retrieves IPO data for the upcoming week from the cache.",
        "operationId": "getIPOsNextWeek",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IPOData"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/entity-holdings": {
      "get": {
        "tags": [
          "institutional-holdings"
        ],
        "summary": "getEntityHoldings",
        "description": "Retrieves holdings data for a specific entity, with optional filtering by ticker symbol and date range.\nReturns enriched holdings data including fund names, entity names, and ticker symbols.",
        "operationId": "getEntityHoldings",
        "parameters": [
          {
            "name": "entity_id",
            "in": "query",
            "description": "Entity ID to fetch holdings for",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "Ticker symbol to filter holdings for",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "contentEncoding": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "contentEncoding": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityHoldingResponse"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/fund-holdings": {
      "get": {
        "tags": [
          "institutional-holdings"
        ],
        "summary": "getFundHoldings",
        "description": "Retrieves holdings data for a specific fund, with optional filtering by ticker symbol and date range.\nReturns enriched holdings data including fund names, entity names, and ticker symbols.",
        "operationId": "getFundHoldings",
        "parameters": [
          {
            "name": "fund_id",
            "in": "query",
            "description": "Fund ID to fetch holdings for",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "Ticker symbol to filter holdings for",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "contentEncoding": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "contentEncoding": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundHoldingResponse"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/search/institutional-holdings/entities": {
      "get": {
        "tags": [
          "institutional-holdings"
        ],
        "summary": "searchEntitiesParams",
        "description": "Searches for entities based on a query term, field, mode, and limit.",
        "operationId": "searchEntitiesParams",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search term",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Field to search in (e.g., entity_proper_name)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "entity_proper_name"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Search mode (e.g., fuzzy, exact)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "fuzzy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/search/institutional-holdings/funds": {
      "get": {
        "tags": [
          "institutional-holdings"
        ],
        "summary": "searchFundsParams",
        "description": "Searches for funds based on a query term, field, mode, and limit.",
        "operationId": "searchFundsParams",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search term",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Field to search in (e.g., entity_proper_name)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "entity_proper_name"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Search mode (e.g., fuzzy, exact)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "fuzzy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/search/institutional-holdings/stock": {
      "get": {
        "tags": [
          "institutional-holdings"
        ],
        "summary": "searchFsymsParams",
        "description": "Searches for Fsyms (stocks) based on a query term, field, mode, and limit.",
        "operationId": "searchFsymsParams",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search term",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Field to search in (e.g., entity_proper_name)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "entity_proper_name"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Search mode (e.g., fuzzy, exact)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "fuzzy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/estimates/ltg/{ticker}": {
      "get": {
        "tags": [
          "fundamentals"
        ],
        "summary": "getLongTermGrowthEstimate",
        "description": "Retrieves Long-Term Growth (LTG) estimate data for a given stock ticker.\nAn optional cutOff date can be provided to retrieve data as of that date.",
        "operationId": "getLongTermGrowthEstimate",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Stock ticker symbol.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cutOff",
            "in": "query",
            "description": "Optional cut-off date (e.g., 'YYYY-MM-DD') to retrieve estimates as of a specific date.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CombinedOutput"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/estimates/metrics/{ticker}/{period}": {
      "get": {
        "tags": [
          "fundamentals"
        ],
        "summary": "getEstimatesMetrics",
        "description": "Retrieves the most recent estimate metrics (e.g., EPS, Sales) for a given stock ticker,\nfor a specified period type (ANN, QTR, or BOTH).\nAn optional cutOff date can be provided to retrieve data as of that date.",
        "operationId": "getEstimatesMetrics",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Stock ticker symbol.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "path",
            "description": "Reporting period type.",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/period1"
                },
                {
                  "description": "Reporting period type."
                }
              ]
            }
          },
          {
            "name": "cutOff",
            "in": "query",
            "description": "Optional cut-off date (e.g., 'YYYY-MM-DD') to retrieve estimates as of a specific date.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CombinedOutput"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/estimates/pricetarget/{ticker}": {
      "get": {
        "tags": [
          "fundamentals"
        ],
        "summary": "getPriceTargetEstimate",
        "description": "Retrieves price target estimate data for a given stock ticker.\nAn optional cutOff date can be provided to retrieve data as of that date.",
        "operationId": "getPriceTargetEstimate",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Stock ticker symbol.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cutOff",
            "in": "query",
            "description": "Optional cut-off date (e.g., 'YYYY-MM-DD') to retrieve estimates as of a specific date.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CombinedOutput"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/fundamentals/range": {
      "get": {
        "tags": [
          "fundamentals"
        ],
        "summary": "getFinancialsMultiRange",
        "description": "Balance-sheet, cash-flow, income & ratios for many tickers across a year span.",
        "operationId": "getFinancialsMultiRange",
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "description": "The tickers to fetch",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_year",
            "in": "query",
            "description": "The start year",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_year",
            "in": "query",
            "description": "The end year",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/fundamentals/{ticker}/period/{year}/{period}": {
      "get": {
        "tags": [
          "fundamentals"
        ],
        "summary": "getFinancialsPeriod",
        "description": "Balance-sheet, cash-flow, income & ratios for one specific year & reporting period (FY, Q1‒Q4).",
        "operationId": "getFinancialsPeriod",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The ticker to fetch",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "The year",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "path",
            "description": "The period",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/fundamentals/{ticker}/range/{start_year}/{end_year}": {
      "get": {
        "tags": [
          "fundamentals"
        ],
        "summary": "getFinancialsSingleRange",
        "description": "Balance-sheet, cash-flow, income & ratios for one ticker across a year span.",
        "operationId": "getFinancialsSingleRange",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The ticker to fetch",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_year",
            "in": "path",
            "description": "The start year",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_year",
            "in": "path",
            "description": "The end year",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {},
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/fear-greed": {
      "get": {
        "tags": [
          "marketSentiment"
        ],
        "summary": "getFearGreedIndex",
        "description": "Retrieves the historical Fear & Greed Index data.",
        "operationId": "getFearGreedIndex",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FearGreedRecord"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/markets/top-stocks/{type}": {
      "get": {
        "tags": [
          "marketSentiment"
        ],
        "summary": "fetchTopMarketStocks",
        "description": "Retrieves the top market stocks data based on the specified type.\nThe type parameter determines whether to fetch top gainers, losers, or most active stocks.",
        "operationId": "fetchTopMarketStocks",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The type of stocks to fetch (gainers, losers, or active)",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/type"
                },
                {
                  "description": "The type of stocks to fetch (gainers, losers, or active)"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "data": {
                "description": "The top market stocks data (gainers, losers, or active stocks)",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The top market stocks data (gainers, losers, or active stocks)",
                      "contentMediaType": "text/plain"
                    }
                  }
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/news": {
      "get": {
        "tags": [
          "marketSentiment"
        ],
        "summary": "getNewsArticles",
        "description": "Retrieves news articles based on specified filter criteria such as date range,\nticker symbol, search text, sentiment score, market impact, and  .\nSupports pagination via the limit parameter.",
        "operationId": "getNewsArticles",
        "parameters": [
          {
            "name": "date_range",
            "in": "query",
            "description": "Date range \"1d, 7d, 30d, 90d\". Defaults to 7d.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number. Defaults to 0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SkeletonNewsArticle"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/news/sentiment/{ticker}": {
      "get": {
        "tags": [
          "marketSentiment"
        ],
        "summary": "getTickerSentiment30D",
        "description": "Get sentiment scores for a ticker.",
        "operationId": "getTickerSentiment30D",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Stock ticker symbol (e.g., AAPL, TSLA)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiPeriodSentimentMetrics"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/news/{id}": {
      "get": {
        "tags": [
          "marketSentiment"
        ],
        "summary": "getNewsArticle",
        "description": "Retrieves a news article by its unique ID.",
        "operationId": "getNewsArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of the news article",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SkeletonNewsArticle"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/risk-analysis-score": {
      "get": {
        "tags": [
          "marketSentiment"
        ],
        "summary": "getRiskAnalysisScore",
        "description": "Retrieves the historical Risk Analysis Score data.",
        "operationId": "getRiskAnalysisScore",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskAnalysisScores"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/market-status": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "getMarketStatus",
        "description": "Fetches the current market status from Polygon.io and returns whether the market is considered open.",
        "operationId": "getMarketStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketStatus"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/marketsnapshot": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "getMarketSnapshot",
        "description": "This will retrieve the market snapshot for all available tickers\nwith their current price and today's change",
        "operationId": "getMarketSnapshot",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketSnapshotItem"
                  },
                  "description": "",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/tickertape": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "getTickertapeData",
        "description": "This will retrieve the current market data for a predefined list of popular stock tickers",
        "operationId": "getTickertapeData",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/StockData"
                  },
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/options/chain/{ticker}": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "getOptionsChain",
        "description": "Retrieves comprehensive options chain data for a given underlying ticker symbol.\nWhen calculate_put_call_ratio is set to true and contract_type is 'both', the response\nwill include put/call ratio analysis which is useful for market sentiment analysis.",
        "operationId": "getOptionsChain",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The underlying ticker symbol (e.g., AAPL, TSLA, SPY)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for options expiration range (YYYY-MM-DD format)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for options expiration range (YYYY-MM-DD format)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract_type",
            "in": "query",
            "description": "Type of contracts to return",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/contract_type"
                },
                {
                  "description": "Type of contracts to return"
                }
              ]
            }
          },
          {
            "name": "money_status",
            "in": "query",
            "description": "Money status filter",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/money_status"
                },
                {
                  "description": "Money status filter"
                }
              ]
            }
          },
          {
            "name": "calculate_put_call_ratio",
            "in": "query",
            "description": "Whether to calculate put/call ratio",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "min_strike_price",
            "in": "query",
            "description": "Minimum strike price filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_strike_price",
            "in": "query",
            "description": "Maximum strike price filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_break_even_price",
            "in": "query",
            "description": "Minimum break-even price filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_break_even_price",
            "in": "query",
            "description": "Maximum break-even price filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_current_price",
            "in": "query",
            "description": "Minimum current option price filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_current_price",
            "in": "query",
            "description": "Maximum current option price filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_price_change",
            "in": "query",
            "description": "Minimum price change filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_price_change",
            "in": "query",
            "description": "Maximum price change filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_price_change_percentage",
            "in": "query",
            "description": "Minimum price change percentage filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_price_change_percentage",
            "in": "query",
            "description": "Maximum price change percentage filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_delta",
            "in": "query",
            "description": "Minimum delta (price sensitivity) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_delta",
            "in": "query",
            "description": "Maximum delta (price sensitivity) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_gamma",
            "in": "query",
            "description": "Minimum gamma (delta sensitivity) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_gamma",
            "in": "query",
            "description": "Maximum gamma (delta sensitivity) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_theta",
            "in": "query",
            "description": "Minimum theta (time decay) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_theta",
            "in": "query",
            "description": "Maximum theta (time decay) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_vega",
            "in": "query",
            "description": "Minimum vega (volatility sensitivity) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_vega",
            "in": "query",
            "description": "Maximum vega (volatility sensitivity) filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_open_interest",
            "in": "query",
            "description": "Minimum open interest filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "max_open_interest",
            "in": "query",
            "description": "Maximum open interest filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "description": "Minimum volume filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_volume",
            "in": "query",
            "description": "Maximum volume filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "min_implied_vol",
            "in": "query",
            "description": "Minimum implied volatility filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          },
          {
            "name": "max_implied_vol",
            "in": "query",
            "description": "Maximum implied volatility filter",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsChain"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/options/expiration/{ticker}": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "getExpirationDates",
        "description": "Returns a list of available expiration dates for options contracts of a given underlying ticker.",
        "operationId": "getExpirationDates",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The underlying ticker symbol (e.g., AAPL, TSLA, SPY)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpirationDates"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/options/filter-ranges/{ticker}": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "getOptionsFilterRanges",
        "description": "Returns the minimum and maximum values for all filterable fields in the options chain data.",
        "operationId": "getOptionsFilterRanges",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The underlying ticker symbol (e.g., AAPL, TSLA, SPY)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for options expiration range (YYYY-MM-DD format)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for options expiration range (YYYY-MM-DD format)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsFilterRanges"
                }
              }
            }
          },
          "400": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/options/historical/{ticker}": {
      "get": {
        "tags": [
          "options"
        ],
        "summary": "getHistoricalOptionsData",
        "description": "Retrieves historical aggregate price data (OHLCV bars) for a specific options contract.\nBoth start_date and end_date are required parameters and should be provided in YYYY-MM-DD format.",
        "operationId": "getHistoricalOptionsData",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "The options contract ticker (e.g., O:AAPL240119C00150000)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for historical data (YYYY-MM-DD format)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for historical data (YYYY-MM-DD format)",
            "required": true,
            "style": "form",
[...]
